<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuxiaoxue.mapper.CustomerMapper">

    <cache/>
    <insert id="save">
        INSERT INTO t_customer (name, weixin, tel, address, email, pinyin, companyname, companyid, level, type, userid)
        VALUES (#{name},#{weixin},#{tel},#{address},#{email},#{pinyin},#{companyname},#{companyid},#{level},#{type},#{userid})
    </insert>

    <update id="updateByid">
        UPDATE t_customer SET name =#{name},weixin=#{weixin},tel=#{tel},address=#{address},email=#{email},
        pinyin=#{pinyin},companyname=#{companyname},companyid=#{companyid},level=#{level},userid=#{userid}
        where id=#{id}
    </update>

    <delete id="delById">
        DELETE FROM t_customer WHERE id = #{id}
    </delete>

    <select id="findByParams" resultType="Customer">
        SELECT * FROM t_customer
        <where>
            <if test="userid != null and userid != ''">
                (userid = #{userid} or (userid ='' or userid is null))
            </if>
            <if test="keyword != null and keyword !=''">
                and (name like concat('%',#{keyword},'%') or pinyin like concat('%',#{keyword},'%') or tel like
                concat('%',#{keyword},'%'))
            </if>
        </where>
        order by id desc
        limit ${start},${length}
    </select>
    <select id="countByParams" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_customer
        <where>
            <if test="userid != null and userid != ''">
                userid = #{userid} or (userid ='' or userid is null)
            </if>
            <if test="keyword">
                and (name like concat('%',#{keyword},'%') or pinyin like concat('%',#{keyword},'%') or tel like
                concat('%',#{keyword},'%'))
            </if>
        </where>
        order by id desc
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM t_customer
    </select>

    <select id="findByType" resultType="Customer">
        SELECT * FROM t_customer WHERE type = #{type}
    </select>

    <select id="findByid" resultType="Customer">
        SELECT * FROM t_customer WHERE id=#{companyid}
    </select>

    <select id="findByCompanyid" resultType="com.zhuxiaoxue.pojo.Customer">
        SELECT * FROM t_customer WHERE companyid = #{id}
    </select>
    <select id="findCustomerById" resultType="com.zhuxiaoxue.pojo.Customer">
        select * from t_customer WHERE id=#{id};
    </select>

    <select id="findCustomerByUserId" resultType="Customer">
        SELECT * FROM t_customer WHERE userid = #{userid} or userid = '' or userid is null
    </select>

    <select id="findAllCustomer" resultType="com.zhuxiaoxue.pojo.Customer">
        SELECT * FROM t_customer
    </select>

    <select id="newCustomerCount" resultType="long">
        SELECT COUNT(*) FROM t_customer WHERE date(createtime) >= #{start} and date(createtime) &lt;= #{end}
    </select>

</mapper>