<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuxiaoxue.mapper.UserLogMapper">

    <cache/>

    <insert id="save">
        INSERT INTO t_userlog (logintime, loginip, userid) VALUES (#{logintime},#{loginip},#{userid})
    </insert>

    <select id="findByParams" resultType="UserLog">
        SELECT * FROM t_userlog
        <where>
            <if test="userid != null and userid != ''">
                userid=#{userid}
            </if>
        </where>
        limit ${start},${length}
    </select>
    <select id="countByUserid" resultType="long">
        SELECT COUNT(*) FROM t_userlog where userid=#{userId}
    </select>

</mapper>